@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background: url("../../img/100-80-4.png");
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0 auto;
	text-transform: uppercase;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
}

body>section {
	padding-bottom: 269px;
}

.layout-centre {
	margin: 0 auto;
	width: 940px;
}

nav {
	background-color: #000;
	height: 75px;
}

.main-menu {
	list-style: none;
	padding-left: 15px;
}

.main-menu li {
	float: left;
	font-size: 1em;
	font-weight: bold;
	height: 47px;
	padding-left: 23px;
	padding-right: 23px;
	padding-top: 25px;
}

.main-menu li:hover {
	background-color: #242424
}

.main-menu a {
	color: #fff;
	display: inline-block;
	height: 100%;
	text-decoration: none;
}

.active {
	border-bottom: 4px solid #fff
}

.account-menu {
	float: left;
	height: 47px;
	margin-left: 187px;
	padding-top: 25px;
	width: 100px;
}

.account-menu:hover {
	background-color: #242424
}

.account-menu-enter {
	color: #fff;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: 100%;
	text-align: center;
	text-decoration: none;
	width: 100%;
}

.account-menu-enter:after {
	background: url("../../img/spr-social.png") no-repeat 0 -318px;
	content: '';
	display: block;
	height: 16px;
	opacity: 0.3;
	position: relative;
	right: -2px;
	top: -17px;
	width: 16px;
}

header h1 {
	font-size: 30px;
	margin: 50px 0 0 0;
}

.bread-crumbs {
	font: normal bold 14px 'PT Sans Narrow', sans-serif;
	list-style: none;
	margin: 17px 0 0 2px;
}

.bread-crumbs li {
	float: left;
	margin-right: 40px;
	text-decoration: none;
}

.bread-crumbs li:nth-child(2):after {
	background: url("../../img/diamond.png") no-repeat;
	content: '';
	display: block;
	height: 12px;
	left: -25px;
	position: relative;
	top: -15px;
	width: 12px;
}

.bread-crumbs a {
	color: #000;
	text-decoration: none;
}

.title {
	font: normal bold 48px 'PT Sans Narrow', sans-serif;
	margin: 25px 0 55px 0;
	text-align: center;
}

.title span {
	margin: 0 15px
}

.title hr {
	background-color: #000;
	border: 0;
	height: 2px;
	width: 158px;
}

.title > * {
	display: inline-block;
	vertical-align: middle;
}

.left-column {
	float: left;
	margin-right: 29px;
	width: 450px;
}

.right-column {
	float: left;
	width: 460px;
}

.storeroom ul {
	font: normal bold 13px 'PT Sans Narrow', sans-serif;
	list-style: none;
	margin: 28px 0 0 20px;
}

.storeroom li {
	margin: 0 0 8px 0
}

.storeroom li:after {
	background: url("../../img/diamond.png") no-repeat;
	content: '';
	display: block;
	height: 12px;
	left: -21px;
	position: relative;
	top: -15px;
	width: 12px;
}

.prise table {
	border: 2px solid #000;
	border-collapse: collapse;
	box-sizing: border-box;
	margin-bottom: 60px;
	margin-top: 32px;
}

.prise td {
	border: 2px solid #000;
	font: normal bold 13px 'PT Sans Narrow', sans-serif;
	height: 39px;
	text-align: center;
	vertical-align: middle;
	width: 230px;
}

.prise td:nth-last-of-type(even) {
	padding-left: 18px;
	text-align: left;
	width: 212px;
}

.about-us h2 {
	margin-bottom: 30px
}

.about-us p {
	font: normal bold 13px/24px 'PT Sans Narrow', sans-serif
}

.btn-d {
	background-color: #000;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	text-align: center;
	text-decoration: none;
	width: 140px;
}

footer {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, .1) 20%), url("../../img/100-80-4.png"), #232323;
	clear: both;
	color: #fff;
	height: 189px;
	margin-top: 75px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer address {
	display: block;
	float: left;
	font: normal bold 14px/24px 'PT Sans Narrow', sans-serif;
	margin-right: 20px;
	padding-top: 56px;
	width: 300px;
}

.footer-wrapper {
	margin: 0 auto;
	width: 940px;
}

.social {
	float: left;
	font: normal bold 14px 'PT Sans Narrow', sans-serif;
	margin-right: 20px;
	margin-top: 3px;
	padding-top: 56px;
	text-align: center;
	width: 300px;
}

.social-buttons {
	list-style: none;
	margin-top: 6px;
}

.social-buttons .social-insta {
	background-position: 0 -106px
}

.social-buttons .social-insta:hover {
	background-position: 0 -159px
}

.social-buttons .social-vk {
	/*    margin-right: 8px;*/
	background-position: 0 -212px;
}

.social-buttons .social-vk:hover {
	background-position: 0 -265px
}

.social-buttons .social-fb {
	background-position: 0 0
}

.social-buttons .social-fb:hover {
	background-position: 0 -53px
}

.social-buttons li {
	display: inline-block;
	margin: 0 1px;
}

.social-buttons a {
	background: url("../../img/spr-social.png") no-repeat;
	display: block;
	height: 43px;
	width: 43px;
}

.copyright {
	float: right;
	font: normal bold 14px 'PT Sans Narrow', sans-serif;
	padding-top: 60px;
	text-align: right;
	width: 300px;
}

.copyright .btn-d:hover {
	background-color: #fff;
	color: #000;
}

.copyright p {
	margin-bottom: 5px;
	margin-right: 25px;
}

/*Helper classes*/

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both
}
